{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input placeholder="Name" name="name" class="form-control" value="{{userData.name}}">
        </div>
        <p>{{nameErr}}</p>
        <div class="mb-3">
            <input placeholder="Age" name="age" class="form-control"
             value="{{userData.age}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit</button>
        </div>
    </form>
</section>
{{>footer}}